<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.stark.learning">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidLearningBaseProject">
        <activity android:name=".component.CustomSpinner"></activity>
        <activity android:name=".motionlayout.MotionLayout" />
        <activity android:name=".core.MainActivity2" />
        <activity
            android:name=".core.MainActivity"
            android:banner="@drawable/app_icon_your_company"
            android:icon="@drawable/app_icon_your_company"
            android:label="@string/title_activity_main"
            android:logo="@drawable/app_icon_your_company"
            android:screenOrientation="landscape" />
        <activity android:name=".core.DetailsActivity" />
        <activity android:name=".core.PlaybackActivity" />
        <activity android:name=".core.BrowseErrorActivity" />
        <activity
            android:name=".core.ItemDetailHostActivity"
            android:label="@string/title_activity_item_detail_host" />
        <activity android:name=".coroutines.CWithP" />
        <activity android:name=".constraintlayout.CLL3" />
        <activity android:name=".constraintlayout.ProfileEx" />
        <activity android:name=".constraintlayout.CLL2" />
        <activity android:name=".constraintlayout.LoginExActivity" />
        <activity android:name=".coroutines.CoroutineStarter" />
        <activity android:name=".testing.TestActivity" />
        <activity
            android:name=".design.BottomSheet"
            android:label="@string/title_activity_bottom_sheet"
            android:theme="@style/Theme.AndroidLearningBaseProject.NoActionBar" />
        <activity android:name=".constraintlayout.ConstraintLayoutEx" />
        <activity android:name=".recyclerview.NestedRecyclerView" />
        <activity android:name=".animation.RotateManyImages" />
        <activity android:name=".animation.RotateImageActivity" />
        <activity android:name=".permission.ContactPermission" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>